@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --black: #282828;
  --white: #fff;
  --green: #36f5bf;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

header {
  padding: 1.5rem;
}

.main-title {
  display: flex;
  align-items: center;
}

main {
  padding: 1.5rem 5rem;
}

section {
  margin-bottom: 2rem;
}

.logo {
  width: 2.5rem;
  height: auto;
  display: inline-block;
  margin-right: 1rem;
}

.purpose {
  margin-left: 3.5rem;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.014rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

p,
pre,
ul {
  font-size: 1.25rem;
  margin: 1rem 0;
}

li {
  margin: 1rem 0 1rem 1rem;
}

mark {
  background: var(--black);
  color: var(--green);
}

code {
  border: solid 0.0625rem var(--white);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

a {
  background-color: var(--green);
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 700;
}

.note {
  font-size: 1rem;
}

.bigEmoji {
  font-size: 2rem;
}

.lastParagraph {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 16px;
}

.informationFlow-wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin: 1rem 0 9.25rem;
}

.informationFlow-itemContainer {
  position: relative;
}

.informationFlow-logoContainer {
  width: 8.75rem;
  height: 8.75rem;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.informationFlow-logo {
  width: 3.75rem;
  height: auto;
}

.informationFlow-text {
  width: 8.75rem;
  font-size: 1rem;
  text-align: center;
  position: absolute;
}

.informationFlow-arrow {
  font-size: 2.5rem;
}
